<template>
  <div>
    <q-dialog v-model="confirm" persistent>
      <q-card>
        <q-card-section class="row items-center">
          <span class="q-ml-sm">{{userName}}: {{$t('close-session')}}</span>
        </q-card-section>

        <q-card-actions align="right">
          <q-btn flat :label="$t('cancel')" color="primary" v-close-popup />
          <q-btn flat :label="$t('exit')" color="primary" v-close-popup @click="logout" />
        </q-card-actions>
      </q-card>
    </q-dialog>
    <q-dialog v-model="showDialog" persistent>
      <q-card>
        <q-card-section class="row justify-center">
          <h6 class="q-ma-md">{{ $t("new_point") }}</h6>
        </q-card-section>
        <q-card-section v-if="newPoint" class="items-center">
          <div class="row">
            <div class="col-1" style="margin-top: 0.5em">
              <div
                class="row"
                style="margin-bottom: 2em"
                v-for="point in getObtionsPointType"
                :key="point.value"
              >
                <i :class="point.class" :style="'color: ' + point.color"></i>
              </div>
            </div>
            <q-option-group
              class="col-5"
              v-model="newPoint.type"
              :options="getObtionsPointType"
              color="primary"
            />
            <q-input
              class="col-6"
              v-model="newPoint.text"
              :placeholder="$t('description')"
              autogrow
              maxlength="200"
              counter
            />
          </div>
        </q-card-section>

        <q-card-actions align="right">
          <q-btn flat :label="$t('cancel')" color="deep-orange" v-close-popup />
          <q-btn
            flat
            :label="$t('acept')"
            color="secondary"
            v-close-popup
            @click="createNewPoint"
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
    <q-btn
      id="bContact"
      class="myButton q-ma-md absolute-bottom-left bg-amber"
      icon="contact_support"
      round
      outline
      color="white"
      @click="showHelp"
    ></q-btn>
    <q-btn
      v-if="!logged"
      class="myButton 
        animate__animated animate__pulse animate__infinite
        q-ma-md
        absolute-top-left
        bg-primary
      "
      icon="person"
      round
      outline
      color="white"
      @click="login"
    ></q-btn>
    <q-btn
      v-if="logged && userNameInitials"
      class="myButton q-ma-md absolute-top-left bg-primary"
      :label="userNameInitials"
      round
      outline
      color="white"
      @click="openConfirm"
    ></q-btn>
    <q-btn
      v-if="logged && !userNameInitials"
      class="myButton q-ma-md absolute-top-left bg-primary"
      icon="how_to_reg"
      round
      outline
      color="white"
      @click="logout"
    ></q-btn>
    <q-btn
      class="myButton q-ma-md absolute-top-right bg-black text-color-white"
      icon="gps_fixed"
      :loading="loadGPS"
      round
      outline
      color="white"
      @click="getMyPosition"
    ></q-btn>
    <q-btn
      v-if="!pendingMarker"
      class="myButton q-ma-md absolute-bottom-right bg-secondary"
      icon="add"
      round
      outline
      color="white"
      @click="addNewMarker"
    ></q-btn>
    <q-btn
      id="doneButton"
      v-if="pendingMarker"
      class="myButton q-ma-md absolute-bottom-right bg-secondary"
      icon="done"
      round
      outline
      color="white"
      @click="validateMarker"
    ></q-btn>
    <q-btn
      v-if="pendingMarker"
      class="myButton q-ma-md absolute-bottom-right bg-deep-orange"
      icon="close"
      round
      outline
      color="white"
      @click="clearNewMarker"
    ></q-btn>
    <l-map
      id="mymap"
      ref="myMap"
      v-if="showMap"
      :zoom="zoom"
      :center="center"
      :options="mapOptions"
      @ready="onReady"
    >
      <l-control-zoom position="bottomleft"></l-control-zoom>

      <l-tile-layer :url="url" :attribution="attribution" />
      <l-marker
        v-if="pendingMarker"
        :lat-lng="newMarker.position"
        :visible="true"
        :icon="newMarker.icon"
      ></l-marker>
      <v-marker-cluster :options="{}">
        <l-marker
          v-for="marker in points"
          :key="marker.id"
          :lat-lng="marker.latlng"
          :visible="true"
          :icon="pointsType[marker.type] ? pointsType[marker.type].icon : null"
          @click="onClickMarker(marker.id)"
        >
          <l-popup style="min-width: 15em; text-align: center">
            <q-btn
              v-if="marker.uid === userId"
              class="col-12"
              color="deep-orange"
              icon="delete"
              rounded
              flat
              @click="removePoint(marker.id)"
            >
            </q-btn>

            <div>
              <b>{{ pointsType[marker.type].label }}</b>
            </div>
            <div>
              <b>{{ $t("created_at") }} {{ getDiffTime(marker.timestamp) }}</b>
            </div>
            <div>
              {{ marker.text }}
            </div>
            <div class="row justify-around">
              <q-btn
                class="col-4"
                color="secondary"
                rounded
                flat
                label="Vrai"
                @click="updateVote(marker, 1)"
              >
                {{ votes.pos }}</q-btn
              >
              <q-btn
                class="col-4"
                color="deep-orange"
                rounded
                flat
                label="Faux"
                @click="updateVote(marker, -1)"
              >
                {{ votes.neg }}
              </q-btn>
              <q-btn
                class="col-4"
                color="warning"
                rounded
                flat
                label="Fini"
                @click="updateVote(marker, 0)"
              >
                {{ votes.fin }}
              </q-btn>
            </div>
          </l-popup>
        </l-marker>
      </v-marker-cluster>
    </l-map>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import L from "leaflet";
import { latLng } from "leaflet";
import { LMap, LTileLayer, LMarker, LControlZoom, LPopup } from "vue2-leaflet";
import Vue2LeafletMarkerCluster from "vue2-leaflet-markercluster";

import { Point, PointType, storeModule } from "@/store";
import { Notify, date, Dialog } from "quasar";
import i18n from "@/i18n";

import { payme, PAYMENTS } from "@/services/stripe";
@Component({
  components: {
    LMap,
    LTileLayer,
    LMarker,
    LControlZoom,
    LPopup,
    "v-marker-cluster": Vue2LeafletMarkerCluster,
  },
})
export default class Map extends Vue {
  map: any;
  zoom = 11;
  center = { lat: -12.807480613108968, lng: 45.15509785182453 };
  url = "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png";
  attribution =
    '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors';
  marker = { lat: -12.807480613108968, lng: 45.15509785182453 };
  boundsMayotte = L.latLngBounds(
    { lat: -12.597957090975294, lng: 45.37493526935578 },
    { lat: -13.028474576472064, lng: 44.903896450996406 }
  );
  showParagraph = false;
  mapOptions = {
    zoomSnap: 0.5,
    zoomControl: false,
  };
  showMap = true;
  pendingMarker = false;
  confirm = false;
  newMarker = {
    icon: L.AwesomeMarkers.icon({
      icon: "map-marked-alt",
      prefix: "fa",
      markerColor: "blue",
    }),
    position: this.center,
  };
  get pointsType() {
    return storeModule.pointsType;
  }
  get getObtionsPointType() {
    return Object.keys(this.pointsType).map((key) => this.pointsType[key]);
  }
  loadGPS = false;
  showDialog = false;

  newPoint: Omit<Point, "id"> | null = null;
  selectedPoint: Point | null = null;

  get userName() {
    return storeModule.name;
  }
  get userNameInitials() {
    return storeModule.userNameInitials;
  }
  get logged() {
    return storeModule.isLogged;
  }
  get points() {
    return storeModule.points;
  }
  get votes() {
    return storeModule.votes;
  }
  get userId() {
    return storeModule.uid;
  }
  mounted() {
    storeModule.onSetPointsType();
  }
  getDiffTime(timestamp: number) {
    const minutes = date.getDateDiff(
      new Date(),
      new Date(timestamp),
      "minutes"
    );
    return (
      (minutes > 60 ? Math.trunc(minutes / 60) + " H - " : "") +
      (minutes % 60) +
      " minutes"
    );
  }
  onReady() {
    this.map = (this.$refs.myMap as any).mapObject;
    this.map.on("move", () => {
      this.center = this.map.getCenter();
      this.zoom = this.map.getZoom();
      this.newMarker.position = this.center;
    });
    this.map.on("popupclose", () => {
      storeModule.clearVotes();
      this.selectedPoint = null;
    });
  }
  addNewMarker() {
    if (!this.logged) {
      Notify.create({
        message: i18n.tc("need_logged"),
        type: "warning",
      });
      return;
    }
    this.pendingMarker = true;
  }
  validateMarker() {
    if (this.boundsMayotte.contains(this.center)) {
      this.newPoint = {
        uid: storeModule.uid,
        latlng: { lat: this.center.lat, lng: this.center.lng },
        type: "obs",
        text: "",
        timestamp: new Date().getTime(),
      };
      this.showDialog = true;
      this.pendingMarker = false;
    } else {
      Notify.create({ message: i18n.tc("only_mayotte"), color: "warning" });
    }
  }
  onClickMarker(id: string) {
    storeModule.getVotes(id);
  }
  async updateVote(point: Point, value: number) {
    if (!this.logged) {
      Notify.create({
        message: i18n.tc("need_logged"),
        type: "warning",
      });
      return;
    }
    await storeModule.updateVote({ point, value });
    this.map.closePopup();
  }
  clearNewMarker() {
    this.pendingMarker = false;
  }
  getMyPosition() {
    if (this.loadGPS) return;
    this.loadGPS = true;
    navigator.geolocation.getCurrentPosition(
      (pos) => {
        this.map.setView(
          {
            lat: pos.coords.latitude,
            lng: pos.coords.longitude,
          },
          16
        );
        this.loadGPS = false;
      },
      (e) => (this.loadGPS = false)
    );
  }
  login() {
    storeModule.login();
  }
  openConfirm() {
    this.confirm = true;
  }
  logout() {
    storeModule.loggout();
  }
  createNewPoint() {
    if (this.newPoint) storeModule.createNewPoint(this.newPoint);
  }
  removePoint(id: string) {
    storeModule.removePoint(id);
  }
  showHelp() {
    Dialog.create({
      message: i18n.tc("help"),
      ok: i18n.tc("donate"),
      cancel: i18n.tc("no_thanks"),
      html: true,
      options: {
        type: "radio",
        model: PAYMENTS[0].value,
        // inline: true
        items: PAYMENTS,
      },
    }).onOk((val: string) => storeModule.payme(val));
  }
}
</script>

<style>
#mymap {
  width: 100%;
  height: 100%;
  position: absolute !important;
}

button {
  z-index: 999;
}
#doneButton {
  margin-right: 5em;
}
#bContact {
  margin-left: 4em !important;
}
.awesome-marker svg {
  margin-top: 1em;
}
.myButton span.q-btn__wrapper {
  color: transparent;
}
.myButton span.block {
  color: white;
  font-weight: bolder;
  padding-top: 4px;
}
.myButton span i {
  color: white;
}
</style>
