<template>
  <q-layout id="app" view="hHh lpR fFf">
    <q-page-container>
      <q-page>
        <Map
          v-if="loaded"
          class="animate__animated animate__fadeIn animate__slower"
        />
      </q-page>
    </q-page-container>
  </q-layout>
</template>

<script lang="ts">
import { Notify } from "quasar";
import { Component, Vue } from "vue-property-decorator";
import Map from "./components/Map.vue";
import i18n from "./i18n";
import { storeModule } from "./store";

@Component({
  components: {
    Map,
  },
})
export default class App extends Vue {
  loaded = false;
  private loadFontAwesomeMarkers() {
    const recaptchaScript = document.createElement('script')
      recaptchaScript.setAttribute('src', 'js/leaflet.awesome-markers.js')
      document.head.appendChild(recaptchaScript)
  }
  created() {
    document.title = "Safe Route Mayotte";
    if (document.location.pathname === "/success") {
      Notify.create({ message: i18n.tc("payment_success"), type: "positive" });
    }
    if (document.location.pathname === "/error") {
      Notify.create({ message: i18n.tc("payment_error"), type: "negative" });
    }
    window.history.replaceState({}, document.title, "/");
  }
  async mounted() {
    setTimeout(() => {
      this.loaded = true;
    }, 1000);
    storeModule.onUserChange();
    storeModule.getAllPoints();
    this.loadFontAwesomeMarkers();
  }

}
</script>

<style>
#app {
  background: url("./assets/logo.jpg") center no-repeat;
  background-size: contain;
  background-color: white;
  z-index: 1000;
}
.marker-cluster-small div {
  background-color: #027ae393 !important;
}

.marker-cluster-small {
  background-color: #027ae331 !important;
}
.marker-cluster-small span {
  color: white !important;
}
</style>
